

h3.heading__item {
    line-height: 68px;
    position: relative;
}
h3.heading__item::after {
    content: '';
    border-bottom: 2px solid #00e1ff;
    width: 18%;
    height: 2px;
    
    bottom: 7px;
    left: 9px;
    
    position: absolute;
}







.dis__tiem{
    position: relative;
}


.disoffer_img{
    width: 100%;
    overflow: hidden;
   
   
}


.disoffer_img img{
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle; 
    transition: transform 0.5s cubic-bezier(0,0,.44,1.18);
}
.disoffer_img:hover img{
    transform: scale(1.09);
}

.disoffer-context {
    position: absolute;
    bottom: 192px;
    background: #00e1ff;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}
.disoffer-context h2 {
    line-height: 34px;
    font-size: 24px;
}
.disoffer-context p {
    font-size: 13px;
    border-bottom: 1px solid black;
}