.slick-slideimg {
    
    max-height: 460px;
}


.card-item {
  position: relative;
  width: 320px;
  height: 500px;
  background-color: #191919;
  border-radius: 20px;
  overflow: hidden;
  max-height: 470px;
}

.card-item::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #00e1ff;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card-item:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card-item::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card-item .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}


.card-item .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card-item .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-item .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card-item .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  
  color: #000000;
  text-decoration: none;
  background: #00e1ff;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card-item:hover .contentBox .buy {
  top: -14px;
  opacity: 1;
 
}

.mouse {
  height: 300px;
  width: auto;
}
