section{
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding:0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#161616 ;
}
section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00e1ff;
    clip-path: circle(70% at right -20%);
}


.swiper {
    width: 100%;
     /* padding-top: 50px;
    padding-bottom: 50px;  */
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    max-height: 486px;
    position: relative;
  }
  .imgBox{
      width: 700px;
      display: flex;
      justify-content: flex-end;
  }



.swiper-item {
    position: absolute;
    /* top: 179px; */
    left: 37px;
    bottom: 133px;
}
.swi-title {
    z-index: 6;
    font-family: Poppins;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 57px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 61px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}

span.swi-amount {
    font-family: Poppins;
    color: rgb(255, 255, 255);
    max-width: none;
    text-align: center;
    line-height: 53px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 40px;
   
}
.swiper-3d .swiper-slide-shadow-left {
    background-image: none !important;
}
.swiper-3d .swiper-slide-shadow-right {
    background-image: none !important;
}